.DS_Store
vendor/
release/
cmd/panel/main
cmd/panel/theme
cmd/panel/data/config.yaml
cmd/panel/data/upload/logo/*
!cmd/panel/data/upload/logo/.gitkeep
cmd/installer/nbdomain/theme/*
!cmd/installer/nbdomain/theme/.gitkeep
cmd/installer/dashboard/*
!cmd/installer/dashboard/.gitkeep